<div id="slide1-maincontainer">

    <div class="background-main">
        <!-- id='{{class}}' -->
        <div class="title-main">
            <div class="top-bottom">MY</div>
            <div class="middle">TUITION</div>
            <div class="top-bottom">PLAN</div>
        </div>
    </div>

    <!-- COMPASS BUTTON -->
    <div class="button">
        <div class="compass"></div>
        <a data-menuanchor="slide2" href="#slide2">
            <div id="msg"><a id="msg" href="#secondPage">START</a></div>
        </a>
    </div>
    <!-- ICONS -->
    <div class="findyourwaywrap" id="{{class}}">
        <div class="findyourway">| <i class="material-icons">&#xE80C;</i> + <i class="material-icons">&#xE192;</i> = <span id="question">? </span>|</div>
    </div>

</div>
